h1 {
    margin: 0;
    padding-top: 3rem;
    padding-bottom: 2rem;
  }
  
  body {
    margin: 0;
    padding: 0 2rem;
  }
  
  h2 {
    margin-top: 5rem;
    margin-bottom: 2rem;
    display: inline-block;
    padding-right: 5rem;
  }
  
  .domains-wrapper {
    padding-left: 2rem;
  }
  .domains-wrapper > p {
    max-width: 95%;
    word-wrap: break-word;
  }
  
  .back-to-top {
    display: inline-block;
  }
  
  .contents {
    display: flex;
    justify-content: space-evenly;
  }
  